<div [class]="theme">
  <mat-toolbar class="header" fxFlex="100" yPosition="above"  color="primary">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-button (click)="sidenav.toggle()"><mat-icon>home</mat-icon></button>
      <p>Dashboard</p>
       </div>
      
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex='100'>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>line_weight</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="themeChanging('theme-one')" mat-menu-item>Light Theme</button>
        <button (click)="themeChanging('theme-two')" mat-menu-item>Dark Theme</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="container" color="accent">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"  fxHide fxShow.gt-md>
        <mat-list>
            <mat-list-item fxLayoutAlign="center"> <div mat-card-avatar class="profile-image"></div></mat-list-item>
            <mat-list-item>  <mat-card-title>Dobald Trump</mat-card-title>
            </mat-list-item>
            <mat-list-item> <mat-icon>dashboard</mat-icon> Dashboard </mat-list-item>
            <mat-list-item><mat-icon>contacts </mat-icon> Contacts </mat-list-item>
            <mat-list-item><mat-icon>info </mat-icon> Info </mat-list-item>
           </mat-list>
      </mat-sidenav>

    <mat-sidenav-content>
      <h2>All cards</h2>

      <mat-divider></mat-divider>

      <div fxLayout.sm="column" fxLayout="row wrap" class="container-card">
        <mat-card class='mr-20' fxFlex.xs="100"  fxFlex.md="45" fxFlex.lg="20" fxFlex.xl="20">card 1</mat-card>
        <mat-card class='mr-20' fxFlex.xs="100"  fxFlex.md="45" fxFlex.lg="20" fxFlex.xl="20">card 2</mat-card>
        <mat-card class='mr-20' fxFlex.xs="100"  fxFlex.md="45" fxFlex.lg="20" fxFlex.xl="20">card 3</mat-card>
        <mat-card class='mr-20' fxFlex.xs="100"  fxFlex.md="45" fxFlex.lg="20" fxFlex.xl="20">card 4</mat-card>
      </div>
      <div class="container-card" fxLayoutGap="15px">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>